# keep course dataset out of Git
data/

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# VS Code specific files
.vscode/

# PyCharm specific files
.idea/

# Virtual environment directory
.venv/
.myvenv/

.models/
.wandb/

# Personal files with comments
environment_with_comments.py